name: Build CarIQ MonoRepo

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
  workflow_dispatch:

env:
  ## Sets environment variable
  PUBLICENV: Available for all jobs in this workflow

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      # - uses: actions/checkout@v2
      # - name: Set up JDK 11
      #   uses: actions/setup-java@v2
      #   with:
      #     java-version: 11
      #     distribution: 'adopt'
      # - name: Build with Gradle
      #   run: ./gradlew clean build
      # - name: update ubuntu
      #   run: sudo apt-get update
      # - name: install groovy
      #   run: sudo apt-get install groovy
      # - name: execute groovy sample script
      #   run: groovy .github/workflows/scripts/sample.groovy
      - name: build
        run: echo "Building project"
      - name: unit_test
        run: echo "Running unit tests"
      - name: db_migration
        run: echo "Running db migration"
  integration_test:
    #needs to checkout the the test repo and trigger proper test group
    needs: db_migration
    runs-on: ubuntu-latest
    steps:
      # - uses: actions/checkout@v2
      # - name: Set up JDK 11
      #   uses: actions/setup-java@v2
      #   with:
      #     java-version: 11
      #     distribution: 'adopt'
      - name: Trigger Integration Tests
        run: echo "Running integration Tests"
